{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "next/core-web-vitals",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "ignorePatterns": [
    "schema.graphql",
    "**/generated/*"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": [
    "@typescript-eslint",
    "prettier",
    "testing-library",
    "react-hooks"
  ],
  "root": true,
  "rules": {
    // eslint
    "linebreak-style": [
      "error",
      "unix"
    ],
    "@typescript-eslint/explicit-module-boundary-types": "off",
    // prettier
    "prettier/prettier": 2,
    // react
    "react/react-in-jsx-scope": "off"
  },
  "overrides": [
    {
      "files": [
        "**/__tests__/**/*.[jt]s?(x)",
        "**/?(*.)+(spec|test).[jt]s?(x)"
      ],
      "extends": [
        "plugin:testing-library/react"
      ]
    }
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
