{
    "extends": [
        "stylelint-config-idiomatic-order",
        "stylelint-config-sass-guidelines"
    ],
    "ignoreFiles": [
        "node_modules/**/*",
        "**/*.ts*",
        "**/*.js*"
    ],
    "plugins": [
        "stylelint-a11y",
        "stylelint-prettier",
        "stylelint-scss"
    ],
    "rules": {
        "max-nesting-depth": 3,
        "order/properties-alphabetical-order": null
    }
}
